<div style="text-align:center">  
  <h2>You have successfully deleted this Contact.</h2>
  <div>&nbsp</div>
  <img src="http://memesvault.com/wp-content/uploads/Sad-Panda-Meme-05.png">
  <div>&nbsp</div>
  <p><%= link_to "Show all Contacts", "/contacts" %></p>
</div>